# Data Cleaning

# Import Packages

In [1]:
import os
import json 
import gzip
import pandas as pd

# Load Data

Data source: https://nijianmo.github.io/amazon/index.html

In [2]:
### load the meta data and reviews data

meta = []
reviews = []

# Beauty products metadata
with gzip.open('data/meta_All_Beauty.json.gz') as f:
    for l in f:
        meta.append(json.loads(l.strip()))

# Beauty products reviews
with gzip.open('data/All_Beauty.json.gz') as f:
    for l in f:
        reviews.append(json.loads(l.strip()))

# total length of list, this number equals total number of products
print(len(meta), len(reviews))

# first row of the list
print(meta[0])
print(reviews[0])

32992 371345
{'title': 'Workout Headphones by Arena Essentials', 'image': ['https://images-na.ssl-images-amazon.com/images/I/61BM8VG0BCL._SS40_.jpg', 'https://images-na.ssl-images-amazon.com/images/I/61YKSNFYPPL._SS40_.jpg'], 'brand': 'HarperCollins', 'rank': '3,235,148inBeautyamp;PersonalCare(', 'main_cat': 'All Beauty', 'asin': '0061073717'}
{'overall': 1.0, 'verified': True, 'reviewTime': '02 19, 2015', 'reviewerID': 'A1V6B6TNIC10QE', 'asin': '0143026860', 'reviewerName': 'theodore j bigham', 'reviewText': 'great', 'summary': 'One Star', 'unixReviewTime': 1424304000}

In [3]:
# Converting dictionary to Pandas dataframe

# We will merge the 2 dataframe into 1
df_meta = pd.DataFrame.from_dict(meta)
df_reviews = pd.DataFrame.from_dict(reviews)

# Inspect Data

## Metadata

In [4]:
df_meta.head(3)

,title,image,brand,rank,main_cat,asin,description,also_view,also_buy,price,similar_item,details,feature,tech1,date
0,Workout Headphones by Arena Essentials,[https://images-na.ssl-images-amazon.com/image...,HarperCollins,"3,235,148inBeautyamp;PersonalCare(",All Beauty,0061073717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Black Diamond,NaN,Swedish Beauty,"1,462,563inBeautyamp;PersonalCare(",All Beauty,0143026860,[This is the NEW PURPLE BOTTLE that just came ...,[B000LXTNMW],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"12 Pc BLUE HEAVEN KAJAL""HERBAL kajal With VITA...",NaN,BLUE HEAVE,"100,425inBeautyPersonalCare(",All Beauty,014789302X,"[A brand-new, unused, unopened, undamaged item...","[B00OWT3W28, B0796RMSV8, B010E1X15K, B010FQJWW...","[B00OWT3W28, B010E1X15K, B0796RMSV8, B07HPBWSW...",$6.45,NaN,NaN,NaN,NaN,NaN

In [5]:
df_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32992 entries, 0 to 32991
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         32991 non-null  object
 1   image         16609 non-null  object
 2   brand         17302 non-null  object
 3   rank          32615 non-null  object
 4   main_cat      32992 non-null  object
 5   asin          32992 non-null  object
 6   description   15191 non-null  object
 7   also_view     8155 non-null   object
 8   also_buy      6613 non-null   object
 9   price         11288 non-null  object
 10  similar_item  1305 non-null   object
 11  details       32836 non-null  object
 12  feature       269 non-null    object
 13  tech1         10 non-null     object
 14  date          19 non-null     object
dtypes: object(15)
memory usage: 3.8+ MB

Description of necessary columns:

*   title - product name
*   image - link of the source of image
*   brand - the name of the brand of the product
*   rank - information relevant to the rank of the sales
*   main_cat - the categories the product belong to
*   **asin - Amazon product id**
*   description - brief description of the product

#### Since `asin` column is the product ID, we want to make sure that it is unique before merging

### Inspecting item frequency in 'asin' column

In [6]:
print(len(df_meta['asin'].unique().tolist()))
df_meta['asin'].value_counts()

32588

B0001XQNPW    2
B0000Y3D0A    2
B00011JML6    2
B00009RB13    2
B0001M7DES    2
             ..
B000SOLK1Q    1
B00FKCGK16    1
B00AN91IAO    1
B00MAP2VE6    1
B015S20TAA    1
Name: asin, Length: 32588, dtype: int64

In [7]:
# Let's inspect the 'asin' with ID: B00008WMNI
id = "B0002CD01M"
df_meta.loc[df_meta['asin'] == id]

,title,image,brand,rank,main_cat,asin,description,also_view,also_buy,price,similar_item,details,feature,tech1,date
452,ClarinsMen Under Eye Serum,NaN,Clarins,"1,996,802inBeautyPersonalCare(",All Beauty,B0002CD01M,[Clarins Men Skin Care: Clarins Men Undereye S...,NaN,NaN,NaN,NaN,"\n <div class=""content"">\n\n\n\n\n\n\n<ul...",NaN,NaN,NaN
856,ClarinsMen Under Eye Serum,NaN,Clarins,"1,996,802inBeautyPersonalCare(",All Beauty,B0002CD01M,[Clarins Men Skin Care: Clarins Men Undereye S...,NaN,NaN,NaN,NaN,"\n <div class=""content"">\n\n\n\n\n\n\n<ul...",NaN,NaN,NaN

#### There are duplicate entries for the same product ID. We will want to drop duplicates.

## Reviews

In [8]:
df_reviews.head(3)

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,1.0,True,"02 19, 2015",A1V6B6TNIC10QE,0143026860,theodore j bigham,great,One Star,1424304000,NaN,NaN,NaN
1,4.0,True,"12 18, 2014",A2F5GHSXFQ0W6J,0143026860,Mary K. Byke,My husband wanted to reading about the Negro ...,... to reading about the Negro Baseball and th...,1418860800,NaN,NaN,NaN
2,4.0,True,"08 10, 2014",A1572GUYS7DGSR,0143026860,David G,"This book was very informative, covering all a...",Worth the Read,1407628800,NaN,NaN,NaN

In [9]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371345 entries, 0 to 371344
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         371345 non-null  float64
 1   verified        371345 non-null  bool
 2   reviewTime      371345 non-null  object
 3   reviewerID      371345 non-null  object
 4   asin            371345 non-null  object
 5   reviewerName    371307 non-null  object
 6   reviewText      370946 non-null  object
 7   summary         371139 non-null  object
 8   unixReviewTime  371345 non-null  int64
 9   vote            51899 non-null   object
 10  style           125958 non-null  object
 11  image           8391 non-null    object
dtypes: bool(1), float64(1), int64(1), object(9)
memory usage: 31.5+ MB

*   overall - the rating of the product ranging from 1 to 5

*   verified - if the reviewer is a verified customer in Amazon

*   reviewTime - the time of the review

*   reviewerID - the id of the user who has given the review

*   **asin - Amazon product id**

*   reviewerName - name of the user who has given the review

*   reviewText - the actual content of the review

*   summary - the title of the review

*   unixReviewTime - the time of the review in Unix format

*   vote - amount of votes regarding the review

*   style - 

*   image -

### Inspect the Reviewer by reviewerID
This will give us the reviews by a certain reviewer

In [10]:
# Let's inspect the Reviewer by ID: A2GJX2KCUSR0EI
id = "A1KSC91G9AIY2Z"
df_reviews.loc[df_reviews['reviewerID'] == id]

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
45573,5.0,True,"02 18, 2017",A1KSC91G9AIY2Z,B000NN5HFW,RYW,This is a great shampoo. It left my hair clean...,Excellent,1487376000,NaN,NaN,NaN
52510,1.0,True,"03 19, 2017",A1KSC91G9AIY2Z,B000WYJTZG,RYW,Awful. It just doesn't work.,Awful,1489881600,NaN,{'Size:': ' 3/4 Inch'},NaN
61035,1.0,True,"03 19, 2017",A1KSC91G9AIY2Z,B000WYJTZG,RYW,Awful. It just doesn't work.,Awful,1489881600,NaN,{'Size:': ' 3/4 Inch'},NaN
94577,2.0,True,"04 27, 2016",A1KSC91G9AIY2Z,B003X9YAL0,RYW,I got this for use as face mask. The color of ...,Weird color,1461715200,2,NaN,NaN
145149,1.0,True,"11 15, 2014",A1KSC91G9AIY2Z,B00DPNJYJW,RYW,I have been on a quest to find my ideal black ...,Not for me,1416009600,4,NaN,NaN
147399,4.0,True,"10 27, 2014",A1KSC91G9AIY2Z,B00EP1N77I,RYW,Lathers and cleans well. The consistency was v...,Good product. Little messy to use.,1414368000,17,NaN,NaN
220081,4.0,True,"03 19, 2016",A1KSC91G9AIY2Z,B0189H1QKS,RYW,I like this because too many highlighters and ...,Nice neutral wash of color,1458345600,7,NaN,NaN
231966,3.0,True,"12 15, 2016",A1KSC91G9AIY2Z,B01BUP23IK,RYW,There has been a lot of hype about this founda...,Good coverage. Tricky application.,1481760000,51,NaN,NaN
264301,4.0,True,"04 11, 2018",A1KSC91G9AIY2Z,B0016BFK2U,RYW,Very moisturizing. Good price point. Dont care...,Moisturizing. Good value.,1523404800,NaN,{'Size:': ' 4.8 Ounce'},NaN
288378,3.0,True,"01 31, 2014",A1KSC91G9AIY2Z,B00DGW1SFK,RYW,I bought this because it was inexpensive. I gu...,Doesn't Work for Me,1391126400,NaN,NaN,NaN
290443,3.0,True,"10 27, 2014",A1KSC91G9AIY2Z,B00EHJ91JG,RYW,I've tried several different brands of black s...,Just OK,1414368000,NaN,NaN,NaN
291509,4.0,True,"06 28, 2017",A1KSC91G9AIY2Z,B00F1XUQDC,RYW,Very affordable. Easy to use. I did not see im...,Good affordable product,1498608000,NaN,NaN,NaN
294190,5.0,False,"10 8, 2014",A1KSC91G9AIY2Z,B00GMP119G,RYW,I really like this conditioner. It's a good va...,Good Conditioner,1412726400,NaN,NaN,NaN
302764,4.0,False,"10 8, 2014",A1KSC91G9AIY2Z,B00K2YOAZK,RYW,This soap has a nice creamy lather and rinses ...,Good Soap,1412726400,NaN,NaN,NaN
312643,4.0,True,"04 4, 2018",A1KSC91G9AIY2Z,B00NR90T0W,RYW,5 stars for the product. Took a star off becau...,Best ointment for chapped skin.,1522800000,NaN,{'Format:': ' Health and Beauty'},NaN
314429,5.0,True,"12 14, 2016",A1KSC91G9AIY2Z,B00OL19Z2I,RYW,Sleek Makeup makes fabulous highlighter palett...,Beautiful,1481673600,NaN,NaN,NaN
314673,5.0,True,"08 20, 2017",A1KSC91G9AIY2Z,B00OPTR5GE,RYW,These are very comfortable and work really wel...,Love these,1503187200,NaN,NaN,NaN
325271,1.0,True,"03 19, 2017",A1KSC91G9AIY2Z,B00VTPL7M0,RYW,Could not get past the smell or the greasiness...,Don't like the smell. Greasy.,1489881600,NaN,NaN,NaN
336173,3.0,True,"05 14, 2017",A1KSC91G9AIY2Z,B0149KV21C,RYW,Love the smell and the soap that's infused in ...,Love the smell. Short lived.,1494720000,NaN,NaN,NaN
336477,1.0,True,"12 15, 2016",A1KSC91G9AIY2Z,B014GKA4IM,RYW,This is a gimmicky product. It's oil based and...,Gimmicky. Does nothing.,1481760000,NaN,NaN,NaN
347947,1.0,True,"10 17, 2017",A1KSC91G9AIY2Z,B019C4U0U4,RYW,This is a creamy powder that has a ton of shim...,Pass,1508198400,NaN,NaN,NaN
350360,1.0,True,"05 20, 2017",A1KSC91G9AIY2Z,B01AB5SMOO,RYW,Left my skin feeling sticky. Didn't see any be...,Useless,1495238400,NaN,NaN,NaN
351480,2.0,True,"12 14, 2016",A1KSC91G9AIY2Z,B01ASQZOKG,RYW,I used this a few times. It feels like a matti...,Not Moisturizing,1481673600,NaN,NaN,NaN

### Show all of the reviewer ID for a specific name

Different reviewerIDs can have the same name but we cannot have several IDs in each user, with the exception of 'Amazon Customer'. Even if they have the same, reviewers are mainly identified by their reviewerID.

In [11]:
# Let's inspect the reviewer with reviewerName: Sarah
name = "Sarah"
reviewer_name = df_reviews.loc[df_reviews['reviewerName'] == name]
print(reviewer_name['reviewerID'].value_counts())
reviewer_name

A165FHUTQU6L2Z    6
A3KHFQ54ISAFBQ    5
A36U37EWJ3MMP5    3
AVJ7EM5FJNY86     3
A1KNSE7BCX3RFX    2
                 ..
A2T1LHKVQ7N2XN    1
A2THASUXZDPD0M    1
A1IQ0OJ7JNV3R0    1
AX91LHANIQDMT     1
AA3TNNMRTWCI0     1
Name: reviewerID, Length: 294, dtype: int64

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
920,5.0,True,"11 8, 2016",AULSV5TQGQKVV,1620213982,Sarah,Holds mercur perfectly.,Five Stars,1478563200,NaN,{'Size:': ' 6.25 Inches'},NaN
7401,5.0,True,"02 18, 2018",A3PAQE3QWKAE2N,B00005JS5C,Sarah,Arrived early and works great. Happy with the ...,great buy,1518912000,NaN,NaN,NaN
8014,5.0,True,"09 4, 2016",A34EQQKM4GI5TT,B00005JS5C,Sarah,Great product!,Five Stars,1472947200,NaN,NaN,NaN
8314,5.0,True,"02 10, 2016",A2O2Q6GOERQG85,B00005JS5C,Sarah,100% happy with this purchase. It worked as ex...,Five Stars,1455062400,NaN,NaN,NaN
8745,2.0,True,"01 28, 2015",A1G7DOHYC8HQU6,B00005JS5C,Sarah,"After reading loads of reviews, I was pretty k...",Not what I'd hoped,1422403200,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
364958,3.0,True,"06 18, 2017",A33VKECCYAMWOH,B01F3C2S5E,Sarah,Husband says they work for him but they sure d...,On the fence...,1497744000,NaN,NaN,NaN
365287,4.0,False,"07 9, 2016",A2TS4DU9ZENQ28,B01F8LGJH8,Sarah,"This serum has a light, fluid texture and abso...","Hydrating, light serum",1468022400,2,NaN,NaN
367380,5.0,False,"08 3, 2017",A2I9OJ2KQ2UE27,B01G1NO4SS,Sarah,This prodcut is really amazing. I bought the M...,Would buy it again ^^,1501718400,NaN,NaN,NaN
368880,3.0,True,"12 12, 2016",A1NPVTA0Y8HBC5,B01GKD6E82,Sarah,"These bottles are cute, but tricky. I tried to...",Just OK,1481500800,NaN,NaN,NaN
369875,2.0,True,"09 8, 2017",A25JK2X408IZOQ,B01GX4CSMO,Sarah,I was really excited about these but as soon a...,Great size but do not stick!,1504828800,NaN,NaN,NaN

# Clean data before merge

## Drop duplicates of metadata df 
We need to make sure that the `asin` column is completely unique

In [12]:
df_meta = df_meta.drop_duplicates('asin', keep="first")
df_meta['asin'].value_counts()

B003JIKGPE    1
B001J8SL3A    1
B008OXW0UI    1
B00J2B9VTE    1
B0193MMH3S    1
             ..
B00NB0PFCE    1
B01EKWNL54    1
B00AM3YG2I    1
B00D10MKZE    1
B015S20TAA    1
Name: asin, Length: 32588, dtype: int64

## Fill missing values in the review and metadata df

In [13]:
def missing(dataset):
    columns = dataset.columns
    print('MISSING ROWS per COLUMN')
    for column in columns:
        percentage = (dataset[column].isnull().sum() / len(dataset)) * 100
        print('{}: {}, {:0.2f}%'.format(column, dataset[column].isnull().sum(), percentage))

In [14]:
## remove rows with unformatted title (i.e. some 'title' may still contain html style content)
df_meta = df_meta.fillna('NaN')
missing(df_meta)

MISSING ROWS per COLUMN
title: 0, 0.00%
image: 0, 0.00%
brand: 0, 0.00%
rank: 0, 0.00%
main_cat: 0, 0.00%
asin: 0, 0.00%
description: 0, 0.00%
also_view: 0, 0.00%
also_buy: 0, 0.00%
price: 0, 0.00%
similar_item: 0, 0.00%
details: 0, 0.00%
feature: 0, 0.00%
tech1: 0, 0.00%
date: 0, 0.00%

In [15]:
df_reviews = df_reviews.fillna('NaN')
missing(df_reviews)

MISSING ROWS per COLUMN
overall: 0, 0.00%
verified: 0, 0.00%
reviewTime: 0, 0.00%
reviewerID: 0, 0.00%
asin: 0, 0.00%
reviewerName: 0, 0.00%
reviewText: 0, 0.00%
summary: 0, 0.00%
unixReviewTime: 0, 0.00%
vote: 0, 0.00%
style: 0, 0.00%
image: 0, 0.00%

## Convert times to datetime format in the review df

In [16]:
# converting the 'reviewTime' to datetime format
df_reviews['reviewTime'] = pd.to_datetime(df_reviews['reviewTime'])
df_reviews['unixReviewTime'] = pd.to_datetime(df_reviews['unixReviewTime'],unit='s')

print(type(df_reviews['reviewTime'][0]), type(df_reviews['unixReviewTime'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'> <class 'pandas._libs.tslibs.timestamps.Timestamp'>

## Change `rating` to integer data type

In [18]:
df_reviews['overall'] = df_reviews['overall'].astype(int)
df_reviews['overall'].head(3)

0    1
1    4
2    4
Name: overall, dtype: int64

In [19]:
df_reviews.head(3)

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,1,True,2015-02-19,A1V6B6TNIC10QE,0143026860,theodore j bigham,great,One Star,2015-02-19,NaN,NaN,NaN
1,4,True,2014-12-18,A2F5GHSXFQ0W6J,0143026860,Mary K. Byke,My husband wanted to reading about the Negro ...,... to reading about the Negro Baseball and th...,2014-12-18,NaN,NaN,NaN
2,4,True,2014-08-10,A1572GUYS7DGSR,0143026860,David G,"This book was very informative, covering all a...",Worth the Read,2014-08-10,NaN,NaN,NaN

# Merge review and metadata by `asin` column

In [20]:
df = pd.merge(df_reviews, df_meta, on='asin', sort='reviewTime')
df.head(3)

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,...,main_cat,description,also_view,also_buy,price,similar_item,details,feature,tech1,date
0,5,False,2000-06-03,A2XMFX1BR0IJFJ,0061073717,Jonathan Reed (jonathan.reed2@virgin.net),This calender is brilliant and has plenty of g...,Futurama rules,2000-06-03,2,...,All Beauty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,False,2000-05-06,ATKPYXA8XFKGJ,0061073717,Gwen Bates,This calender really is great. In addition to...,A great gift for any futurama fan!,2000-05-06,NaN,...,All Beauty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,True,2015-02-19,A1V6B6TNIC10QE,0143026860,theodore j bigham,great,One Star,2015-02-19,NaN,...,All Beauty,[This is the NEW PURPLE BOTTLE that just came ...,[B000LXTNMW],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 371345 entries, 0 to 371344
Data columns (total 26 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         371345 non-null  int64
 1   verified        371345 non-null  bool
 2   reviewTime      371345 non-null  datetime64[ns]
 3   reviewerID      371345 non-null  object
 4   asin            371345 non-null  object
 5   reviewerName    371345 non-null  object
 6   reviewText      371345 non-null  object
 7   summary         371345 non-null  object
 8   unixReviewTime  371345 non-null  datetime64[ns]
 9   vote            371345 non-null  object
 10  style           371345 non-null  object
 11  image_x         371345 non-null  object
 12  title           371345 non-null  object
 13  image_y         371345 non-null  object
 14  brand           371345 non-null  object
 15  rank            371345 non-null  object
 16  main_cat        371345 non-null  object
 17  description     371345 non-null  object
 18  also_view       371345 non-null  object
 19  also_buy        371345 non-null  object
 20  price           371345 non-null  object
 21  similar_item    371345 non-null  object
 22  details         371345 non-null  object
 23  feature         371345 non-null  object
 24  tech1           371345 non-null  object
 25  date            371345 non-null  object
dtypes: bool(1), datetime64[ns](2), int64(1), object(22)
memory usage: 74.0+ MB

# Clean data after merge

## Drop and rename columns

In [22]:
# Drop columns that we are not going to use
df = df.drop(columns=['style', 'image_x', 'image_y', 'feature', 'tech1', 'date', 'unixReviewTime', 'summary', 'vote', 'rank', 'main_cat', 'description', 'also_view', 'also_buy', 'similar_item', 'details', 'feature', 'tech1', 'price'])

# Rename the columns to its appropriate names
rename_dict = {
    "overall": "rating", 
    "asin": "product_id",
    "reviewTime": "review_time",
    "reviewerID": "reviewer_id",
    "reviewerName": "reviewer_name",
    "reviewText": "reviewer_text"  
}

df = df.rename(columns=rename_dict)

# Export data

In [23]:
df.to_csv('./data/final_amazon_beauty.csv', index=False)